<%= render 'shared/navigation' %>
<%= render 'shared/header' %>

<main>
  <%= render 'shared/section-about' %>
  <%= render 'shared/section-features' %>
  <%= render 'shared/section-tours' %>
  <%= render 'shared/section-stories' %>
  <%= render 'shared/section-book' %>
</main>

<%= render 'shared/footer' %>
